{% extends "base.html" %}
{% block title %}все записи{% endblock title %}
{% block content %}
    <div class="jumbotron" style="background-color: aliceblue">
      <h1 class="display-4">Гостевая книга</h1>
      <hr class="my-4">
        {% if not notes %}
            <h3>Записей нет</h3>>
        {% else %}
        {% for note in notes %}
            <div class="alert alert-light" role="alert" style="border-color: darkslategrey">
                <h4>{{ note.name }} ({{ note.email }})</h4>
                <a class="btn btn-secondary btn-sm" href="{% url "note-update" note.id %}" role="button">редактировать</a>
                <a class="btn btn-warning btn-sm" href="{% url "note-delete" note.id %}" role="button">удалить</a>
                <p style="margin-top: 50px">{{ note.text }}</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
