{% extends "base.html" %}
{% block title %}все записи{% endblock title %}
{% block content %}
    <div class="jumbotron" style="background-color: aliceblue">
      <h1 class="display-4">Гостевая книга</h1>
      <hr class="my-4">
        {% if not notes %}
            <h3>Записей нет</h3>>
        {% else %}
        {% for note in notes %}
            <div class="alert alert-secondary" role="alert">
                <h5> {{ note.name }} ({{ note.email }})</h5>
                <a class="btn btn-light btn-sm" href="{% url "note-update" note.id %}" role="button">редактировать</a>
                <a class="btn btn-light btn-sm" href="#" role="button">удалить</a>
                <p>{{ note.text }}</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
